In [1]:
import numpy as np
import pandas as pd

In [7]:
data = {"ASSET_DESC_CAT": [np.nan,
                           np.nan,
                          "bob"]
}
data

{'ASSET_DESC_CAT': [nan, nan, 'bob']}

In [8]:
df = pd.DataFrame (data, columns = ['ASSET_DESC_CAT'])
df

  ASSET_DESC_CAT
0            NaN
1            NaN
2            bob

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ASSET_DESC_CAT  1 non-null      object
dtypes: object(1)
memory usage: 152.0+ bytes

In [11]:
df['ASSET_DESC_CAT'].str.contains('og', na=True, regex=True)

0     True
1     True
2    False
Name: ASSET_DESC_CAT, dtype: bool

In [ ]:
data = {"rawData": ["Message:OCC_ANNO_0001$Gws 5 stops DVA bcast msg 521 in cars 85/914$Executed$QLJTheme:",
                    "Message:OCC_ANNO_0001$Gws 5 starts DVA bcast msg 521 in cars 85/914$Executed$QLJTheme:",
                    "Message:OCC_ANNO_0001$Gws 0 suspends DVA bcast msg 599 in cars 7/304, 9/351...$Executed$Theme:",
                    "Message:OCC_ANNO_0001$Gws 0 suspends DVA bcast msg 599 in cars 7/333, 15/329...$Executed$Theme:",
                    "Message:OCC_ANNO_0001$Gws 0 suspends DVA bcast msg 599 in cars 1/331, 3/313...$Executed$Theme:",
                    "Message:OCC_ANNO_0001$Gws 0 suspends DVA bcast msg 513 in cars 81/334$Executed$Theme:",
                    "Message:OCC_ANNO_0001$Gws 0 suspends DVA bcast msg 513 in cars 81/334$Executed$Theme:",
                    "Message:OCC_ANNO_0001$Gws 0 suspends ATAS msg 91 in cars 33/307$Executed$Theme:",
                    "Message:OCC_ANNO_0001$Gws 0 suspends ATAS msg 91 in cars 85/314$Executed$Theme:",
                    "Message:OCC_ANNO_0001$TestAssetDesc: Gws 0 suspends DVA bcast msg 521 in cars 39/310$Executed$Theme:",
                    "Message:OCC_ANNO_0001$TestAssetDesc: Gws 0 suspends DVA bcast msg 521 in cars 57/917$Executed$Theme:"]
}
data

In [ ]:
df = pd.DataFrame (data, columns = ['rawData'])
df

In [ ]:
def extractTextBetween2_series(originalTextSeries, delimeterA='Message:', delimterB='Theme:'):
        clip1 = originalTextSeries.str.split(delimeterA).str.get(1)
        clip2 = clip1.str.split(delimterB).str.get(0).str.strip()
        clip3 = clip2.str.replace(";", "").str.split("$")
        rawMessage = clip2.str.replace(";", "") # for debugging only
        del clip1, clip2

        ASSET_ID_RAW = clip3.str.get(0).str.strip()
        
        try:
            ASSET_DESCRIPTION = clip3.str.get(1).str.split(": ").str.get(0).str.strip()
        except: 
            ASSET_DESCRIPTION = None

        try:    
            EVENT_DESCRIPTION = clip3.str.get(1).str.split(": ").str.get(1).str.strip()
        except:
            EVENT_DESCRIPTION = None

        try:
            EVENT_STATUS = clip3.str.get(2).str.strip()
        except:
            EVENT_STATUS = None

        try:
            OPERATOR_INITIALS = clip3.str.get(3).str.strip()
        except:
            OPERATOR_INITIALS = None

        return ASSET_ID_RAW, ASSET_DESCRIPTION, EVENT_DESCRIPTION, EVENT_STATUS, OPERATOR_INITIALS, rawMessage, clip3 #rawMessage for debugging only

In [ ]:
df["ASSET_ID_RAW"], df["ASSET_DESCRIPTION"], df["EVENT_DESCRIPTION"], df["EVENT_STATUS"], df["OPERATOR_INITIALS"], df["rawMessage"], df["clip3"] = extractTextBetween2_series(df["rawData"])
df

In [ ]:
df.loc[df["EVENT_DESCRIPTION"].isna(), "EVENT_DESCRIPTION"] = df["ASSET_DESCRIPTION"]
df

In [ ]:
data = {'First Column Name':  ['Alpha valueX', 'BravovalueX', "Charlie valueX valueY", np.nan, np.nan, None, None],
        'Second Column Name': ['First value', 'Second value', 'Third value1 value2', 123, "AS", 123, "AS"],
        'Third Column Name': ['cars 1232/643 AS', 'Car 5392 asad', 'Car 054385:asdad', 'cars 1264/863 AS', 'Car 56432 asad', 'Car 0537545:asdad', np.nan],
        'Fourth Column Name': ['First    value   ', 'First value ', 'First   value', 123, "AS", 123, "AS"],
       }
data

In [ ]:
testName = ["Test 1", "Test2", "Test3"]


df = pd.DataFrame (data, columns = ['First Column Name','Second Column Name', 'Third Column Name', 'Fourth Column Name'])
df

In [ ]:
df[testName] = df["Third Column Name"].str.extract(r"cars (\d+)/(\d+)|Car (\d+)[ :]")
df

In [ ]:
df['Fourth Column Name']

In [ ]:
df['Fourth Column Name'].str.strip().str.replace(r'\s+', ' ', regex = True)

In [ ]:
df['Fourth Column Name'].str.replace(r'\s+', ' ', regex = True).str.strip()

In [ ]:
df.loc[df["Test 1"].isna(), "Test 1"] =  df["Test3"]

In [ ]:
df

In [ ]:
df[testName] = df["Second Column Name"].str.split(expand=True)
df

In [ ]:
df[["testName","testName2"]] = df["First Column Name"].str.split(expand=True, n = 1) + "BOB"
df

In [ ]:
s = pd.Series(['msg in asd', 'msg  in dasd', 'msg     in'])
s

In [ ]:
s.str.replace(r'( )+', ' ', regex = True)